.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F52BA;
    padding: 10px 20px;
    color: white;
}

.navbar-title {
    display: flex;
    align-items: baseline;
}

.navbar-title h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    margin-left: 10px;
    margin-right: 5px;
}

.navbar-title h2 {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.navbar-button {
    margin: 0;
    margin-right: 5%;
}

.cart-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.button-value {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
}